*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#list{
    display: flex;
    flex-wrap: wrap;
   
}

.post{
    border: 3px solid #ffffff23;
    width: 25%;
    padding: 10px ;
    line-height: 30px;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(11, 9, 9, 0.879);
}